.container--componente {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin-top: 100px;
}

.imagenFormulario {
  max-width: 650px;
  height: 690px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  
}

.container--formulario {
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h2.title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.separator p {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.container--datos {
  margin-top: 10px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  text-align: left;
}

.form-text,
input[type="number"], 
select {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}



.boton-enviar {
  width: 100%;
  padding: 10px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff3f30;
}

.hidden {
  display: none;
}
.si-no{
  display: flex;
  gap: 30px; /* Ajusta el espacio entre los elementos según prefieras */
  text-align: center;
  align-items: center;
}
