.lema-container {
  height: 220px; /* Ajusta la altura según tus necesidades */
  width: 100%;
  display: flex;
  align-items: center; /* Alinea los elementos en la parte superior */
  justify-content: center; /* Centra horizontalmente el contenido */
  position: relative; /* Necesario para el pseudo-elemento */
}

.lema-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 190, 97); /* Color amarillo con opacidad */
  z-index: 1; /* Asegura que el fondo esté detrás del texto */
}

.lema-container img {
  z-index: 2; /* Asegúrate de que las imágenes queden detrás del texto */
  width: 200px; /* Ajusta el tamaño de las imágenes según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.lema-texto {
  width: 100%; /* Ocupará todo el ancho del contenedor */
  position: relative; /* Para que el texto esté por encima del pseudo-elemento */
  z-index: 2; /* Asegura que el texto esté por encima */
  text-align: center; /* Centra el texto */
}

.lema-texto h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 40px; /* Ajusta el tamaño según sea necesario */
  color: #fff; /* Color blanco para el texto */
  margin: 0; /* Elimina el margen */
}
