.footer {
  display: flex;
  flex-direction: column; /* Cambia a columna para que el logo esté encima de las columnas */
  padding: 20px;
  background-color: #f8f9fa; /* Color de fondo del footer */
  border-top: 1px solid #dee2e6;
  min-height: 115px;
}

.footer-columns {
  display: flex; /* Flex para mostrar columnas en una fila */
  justify-content: space-between; /* Espacio entre columnas */
}

.footer-left {
  display: flex;
  align-items: center;
  margin-right: 25%; /* Espaciado entre el logo y las columnas */
}

.footer-logo {
  height: 40px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}

.footer-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e9dba;
  text-decoration: none;
}

.footer-column {
  flex: 1; /* Cada columna toma el mismo espacio */
  margin: 0 10px; /* Espaciado a los lados de cada columna */
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px; /* Espaciado entre los enlaces */
}

.footer-links li a {
  color: #8c8c8c;
  font-family: Manrope;
  text-decoration: none;
  font-size: 16px;
}

.footer-links li a:hover {
  text-decoration: underline; /* Cambia a subrayado al pasar el mouse */
  color: #1e9dba; /* Color del enlace al pasar el mouse */
}

.redes-sociales {
  display: flex; /* Usar flexbox para alinear elementos en una línea */
  justify-content: center; /* Centrar los iconos de las redes sociales horizontalmente */
  align-items: center; /* Centrar los iconos verticalmente */
  text-align: center;
  gap: 20px; /* Espaciado entre los elementos de la lista */
  margin-top: 10px; /* Espaciado superior opcional */
  padding: 10px 0; /* Agregar padding arriba y abajo */
}

.redes-sociales ul {
  display: flex; /* Mostrar los elementos de la lista en línea */
  list-style-type: none; /* Eliminar puntos de la lista */
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  display: inline; /* Alinear en línea */
  margin-left: 20px; /* Espaciado a la izquierda del logo  */
}

/* Tamaño del logo */
.social-logo {
  width: 30px;
  height: 30px;
}
