.admin-container {
    margin-top: 80px; 
    padding: 20px; 
    background-color: #f8f9fa; 
}

.tabla-mascotas,
.tabla-usuarios {
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px; 
    padding: 15px; 
}

h2 {
    font-family: "Lilita One"; 
    color: #FF6F61;
    margin-bottom: 10px; 
}

h1 {
    font-family: "Lilita One"; 
    color: #FF6F61; 
    margin-bottom: 10px; 
}
